*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #6C464F;
    color: white;

}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;

}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;

}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: #F3B3A6;
    border-bottom: 4px solid #F3B3A6;
    padding-bottom: 7px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.container button img{
    width: 28px;
    margin-right: 10px;
}
.container button{
    border: 0;
    outline: 0;
    background: #F3B3A6;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}
.palette1 {
    background: #6C464F;
    color: white;
}

/* Second color palette */
.palette2 {
    background: #547D6C;
    color: white;
}

/* Second color palette */
.palette3 {
    background: #002339;
    color: white;
}
.display img {
    width: 30px;
    cursor: pointer;
    filter: hue-rotate(180deg); /* Adjust the degree value to change the color */
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .container {
        margin: 5%;
    }

    .container h1 {
        font-size: 24px;
        margin-bottom: 20px; /* Added margin between h1 and input */
    }

    .display {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 12px;
    }

    .display img {
        width: 20px;
    }

    .display input {
        font-size: 18px;
        padding: 8px;
    }

    .container button {
        font-size: 18px;
        padding: 10px 16px;
    }
}